*.exe
*.dll
*.fsh
*.vsh
*.ogg
*.png
*.svg
*.log

assets
assets/
assets/*

Lib*
Lib*/
Lib*/*

assets
assets/
assets/*

Logs
Logs/
Logs/*

*.zip

# Add Saves via git add SAVENAME.vcdbs -f
*.vcdbs
*.vcdbs*
*.vcdbs.*

VintagestoryData/Logs/client-*.txt
VintagestoryData/Logs/server-*.txt
